{% extends "base.html" %}
{% block body %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    <section>
        <div class="container">
            {% if user.is_authenticated %}
                <div>
                    <h2>you are already loged in, do you want to logout?</h2>
                    <a href="{% url 'logout'%}">Logout</a>
                </div>
            {% else %}
                <div class="registration-form">
                    <form method="post" action="{% url 'login' %}" class=" my-form">
                        {{form}}
                        {% csrf_token %}
                        <input type="submit" value="login" class="my-button">
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}">
                        {% else %}
                            <input type="hidden" name="next" value="{% url 'shop:product_list' %}">
                        {% endif %}
                    </form>
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    <span>don't have account ?</span>
                    <a href="/accounts/signup">signup</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
