{% extends "base.html" %}
{% block body %}
    <section>
        <div class="container">
            <div class="registration-form">
                <h1>change password</h1>
                <form method="POST" class="my-form">
                    {{form}}
                    {% csrf_token %}
                    <button type="submit">submit</button>
                    <a href="{% url 'accounts:profile' profile.id %}">cancel</a>
                </form>
            <div>
        <div>
    </section>
{% endblock %}
