{% extends "base.html" %}
{% block body %}
    <section>
        <div class="container">
            {% if user.is_authenticated %}
                <h2>User : {{ user.get_username }}</h2>
                <a href="{% url 'logout'%}" class="btn btn-primary submit">Logout</a>
            {% else %}
                <div class="registration-form">
                    <form method="post" class="my-form">
                        <h1 class="text-center main-heading">signup</h1>
                        {{form.as_ul}}
                        {% csrf_token %}
                        <input type="submit" value="signup" class="my-button" />
                    </form>
                    <span>have an account ?</span>
                    <a href="/accounts/login">login</a>
                <div>
            {% endif %}
        </div>
    </section>
{% endblock %}
