{% extends 'base.html' %}
{% block body %}
    {% comment %}
        ONLY STAFF CAN CREATE NEW CATEGORIES
    {% endcomment %}
    <section>
        <div class="container">
            {% if request.user.is_staff %}
                <h1 class="text-center">create new category</h1>
                <form method="POST" enctype="multipart/form-data" class="my-form">
                    {{form.as_ul}}
                    {% csrf_token %}
                    <button type="submit">post</button>
                </form>
            {% else %}
                <h1 class="text-center">sorry! you arren't allowed here</h1>
            {% endif %}
        </div>
    </section>
{% endblock body %}