{% extends 'base.html' %}
{% block body %}
    <section>
        <div class="container">
            {% if user.profile.shop %}
                <h1 class="text-center">sell your product</h1>
                <form method="POST" enctype="multipart/form-data" class="my-form">
                    {% csrf_token %}
                    {{form.as_ul}}
                    <button type="submit">post</button>
                    <input type=button value="cancel" class="cancel" onClick="javascript:history.go(-1);">
                </form>
            {% else %}
                <h1 class="text-center">create your shop first</h1>
                <div class="center">
                    <a class="text-center" href="{% url 'accounts:update_profile' user.profile.id %}">create shop</a>
                    <input type=button value="cancel" class="cancel" onClick="javascript:history.go(-1);">
                </div>
           {% endif %}
        </div>
    </section>
{% endblock body %}