{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/fontawsome.min.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <title>shop</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-up">
                <div class="header-form">
                    <form class="my-form" action="{% url 'shop:search' %}">
                        <input type="text" placeholder="search" name="search">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="header-cart">
                    <a href="{% url 'shop:wishlist_view' %}">
                        <i class="far fa-heart fa-fw"></i>
                    </a>
                    <a href="{% url 'cart:cart_details' %}">
                        <i class="fas fa-shopping-cart fa-fw"></i>
                        {% if request.session.cart|length > 0 %}
                            {{ request.session.cart|length }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <a href="/" class="nav-logo">MegaMarket</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="dropDownShow()">shop
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="{% url 'shop:product_list' %}">products</a>
                            <a href="{% url 'shop:product_create' %}">sell your product</a>
                            <a href="{% url 'shop:category_list' %}">categories</a>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropDownShow()">{{request.user}}
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" id="myDropdown">
                                <a class="with-icon" href="{% url 'accounts:profile' user.profile.id %}">
                                    profile <i class="fas fa-id-badge"></i>
                                </a>
                                <a class="with-icon" href="{% url 'cart:order_history' %}">
                                    orders history <i class="fas fa-history"></i>
                                </a>
                                <a class="with-icon" href="{% url 'logout' %}">
                                    logout <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/accounts/login" class="nav-link">login</a>/
                        <a href="{% url 'accounts:signup' %}" class="nav-link">signup</a>
                    </li>
                {% endif %}
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}
        {% endblock body %}
    </main>
    <footer>
        <div class="container">
            <div class="footer-sec">
                <ul>
                    <h1>shop</h1>
                    <li>
                        <a href="{% url 'shop:product_list' %}">all products</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:category_list' %}">categories</a>
                    </li>
                </ul>
            </div>
            <div class="footer-sec">
                <ul>
                    <h1>links</h1>
                    <li><a href="/">home</a></li>
                    <li><a href="{% url 'pages:about_view' %}">about us</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>