{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/fontawsome.min.css' %}">
    <title>shop</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-up">
                <div class="header-form">
                    <form class="my-form" action="{% url 'shop:search' %}">
                        <input type="text" placeholder="search" name="search">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="header-cart">
                    <a href="{% url 'shop:wishlist_view' %}">
                        <i class="far fa-heart fa-fw"></i>
                    </a>
                    <a href="{% url 'cart:cart_details' %}">
                        <i class="fas fa-shopping-cart fa-fw"></i>
                        {% if request.session.cart|length > 0 %}
                            {{ request.session.cart|length }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <a href="#" class="nav-logo">MegaMarket</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="dropDownShow()">shop
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="{% url 'shop:product_list' %}">products</a>
                            <a href="{% url 'shop:product_create' %}">sell your product</a>
                            <a href="{% url 'shop:category_list' %}">categories</a>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropDownShow()">{{request.user}}
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" id="myDropdown">
                                <a class="with-icon" href="{% url 'accounts:profile' user.profile.id %}">
                                    profile <i class="fas fa-id-badge"></i>
                                </a>
                                <a class="with-icon" href="{% url 'logout' %}">
                                    logout <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/accounts/login" class="nav-link">login</a>/
                        <a href="{% url 'accounts:signup' %}" class="nav-link">signup</a>
                    </li>
                {% endif %}
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <!--========== SETTINGS BOX ==========-->
    <div class="setting-box">
        <div class="setting-box-content">
            <!--========== SETTINGS BOX ICON ==========-->
            <div class="setting-box-toggle">
                <i class="fas fa-cog"></i>
            </div>
            <!--========== MODE ==========-->
            <div class="mode">
                <h4 class="text-center">mode</h4>
                <ul>
                    <li data-color="#fff" data-font="#000" data-background="#f4f4f4" class="active fas fa-sun"></li>
                    <li data-color="#000" data-font="#fff" data-background="#171717" class="fas fa-moon"></li>
                </ul>
            </div>
        </div>
    </div>
    {% block body %}
    {% endblock body %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>