{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/fontawsome.min.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <title>shop</title>
</head>
<body>
    <header class="header">
        <!-- <div class="container">
            <div class="header-up">
                <div class="header-form">
                    <form class="my-form" action="{% url 'shop:search' %}">
                        <input type="text" placeholder="search" name="search">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="header-cart">
                    <a href="{% url 'shop:wishlist_view' %}">
                        <i class="far fa-heart fa-fw"></i>
                    </a>
                    <a href="{% url 'cart:cart_details' %}">
                        <i class="fas fa-shopping-cart fa-fw"></i>
                        {% if request.session.cart|length > 0 %}
                            {{ request.session.cart|length }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div> -->
        <nav class="navbar">
            <a href="/" class="nav-logo">Mega</a>
            <div class="links-container">
              <ul class="nav-menu">
                  <li class="nav-item">
                      <a href="/" class="nav-link">home</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'pages:about_view' %}" class="nav-link">about</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'shop:product_list' %}" class="nav-link">products</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'shop:category_list' %}" class="nav-link">categories</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'shop:product_create' %}" class="nav-link">sell on mega</a>
                  </li>
                  <li class="nav-item special-link">
                      <a href="/accounts/login" class="nav-link">login</a>
                  </li>
              </ul>
            </div>
            <div class="links-container">
              <ul class="nav-menu">
                  <li class="nav-item">
                      <span class="nav-link btn"><i class="fas fa-search fa-fw"></i></span>
                  </li>
                  <li class="nav-item">
                      <span class="nav-link btn"><i class="fas fa-user fa-fw"></i></span>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'shop:wishlist_view' %}" class="nav-link btn">
                          <i class="far fa-heart fa-fw"></i>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'cart:cart_details' %}" class="nav-link btn">
                          <i class="fa fa-shopping-cart fa-fw"></i>
                          {% if request.session.cart|length > 0 %}
                              {{ request.session.cart|length }}
                          {% endif %}
                      </a>
                  </li>
              </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}
        {% endblock body %}
    </main>
    <footer>
        <div class="container">
            <div class="footer-sec">
                <ul>
                    <h1>shop</h1>
                    <li>
                        <a href="{% url 'shop:product_list' %}">all products</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:category_list' %}">categories</a>
                    </li>
                </ul>
            </div>
            <div class="footer-sec">
                <ul>
                    <h1>links</h1>
                    <li><a href="/">home</a></li>
                    <li><a href="{% url 'pages:about_view' %}">about us</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
