{% extends "base.html" %}
{% block body %}
    <section>
        <div class="container">
            <h1 class="text-center">are you sure you want to delete your account ?</h1>
            <form class="my-form">
                {{form}}
                {% csrf_token %}
                <div class="confirm">
                    <input class="my-button" type="submit" value="delete">
                    <input type=button value="cancel" class="cancel" onClick="javascript:history.go(-1);">
                </div>
            </form>
        </div>
    </section>
{% endblock %}